{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=API_PFR2;Username=YOUR_DB_USER;Password=YOUR_DB_PASSWORD;Port=5432"
  },
  "JWTSecret": "YOUR_SECRET_KEY",
  "JWTExpireTokenInSeconds": 3600,
  "JWTAudience": "http://localhost:5000",
  "JWTIssuer": "http://localhost:5000",
  "Email": {
    "SmtpServer": "smtp.yourprovider.com",
    "SmtpPort": 587,
    "SenderEmail": "your_email@example.com",
    "SenderPassword": "YOUR_EMAIL_PASSWORD"
  }
}